#buttons_hidden {
    text-align: right;
}
.logs{
    text-align: left;
}
.Header{
    text-decoration: underline;
}
img.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
hr.gap{
    height: 50px;
    border: none;
}
h1,h2.center{
    text-align: center;
    text-decoration: underline;
    font-style: italic;
}
span.redacted{
    color: black;
    background-color: black;
    padding: 0 5px;
    border-radius: 2px;
/*    hidding the info*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}