#summary{
    text-align: center;
}
h3,h2{
    text-decoration: underline;
}
img.Right{
    display: block;
    float: right;
    width: 25%;
}
img.Left{
    display: block;
    float: left;
    width: 25%;
}
h3.Right{
    text-align: right;
}