.map{
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.map-button{
    position: absolute;
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
}
/*for aligin the buttons on the map*/
.usa{
    top: 60%;
    left: 40%;
}
.canada{
    top: 35%;
    left: 45%;
}
/*image aligning*/
img.Right{
    display: block;
    float: right;
    width: 20%;
    margin-right: 150px;
}
img.Left{
    display: block;
    float: left;
    width: 20%;
    margin-right: 25px;
    margin-left: 100px;
}
img.CanadaRight{
    display: block;
    float: right;
    width: 35%;
    margin-right: 70px;
}
/*text aligning*/
p.right{
    text-align: right;
}
p.left{
    text-align: left;
}
/*text in a contaier*/
.text-container-Right{ /*text align for the right*/
    width: 60%;            /* Makes the div full width */
    margin-right: auto;     /* Pushes the div to the left */
    margin-left: 110px;         /* No left margin */
}
.text-container-Left{ /*text align for the Left*/
    width: 60%;
    margin-right: 130px;
    margin-left: auto;
    margin-top: 10px;
}
hr.gap{
    height: 100px;
    border: none;
}
.container {
    display: flex;
    align-items: flex-start;
    width: 900px; /* Adjust as needed */
    margin: 0;   /* Add this to reset any default margins */
}
a.hidden{
    text-decoration: underline;
    color: black;
}
.map-container{
    position: relative;
    display: inline-block;
}